* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.descriptionContainer {
  display: none;
  flex-direction: column;
  align-items: start;
  position: absolute;
  min-width: 280px;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.flickeringContainer {
  width: fit-content;
  background-color: black;
  color: white;
  animation: flickerAnimation 2s infinite;
}

.specificationsContainer {
  display: flex;
  flex-direction: column;
}

.description,
.weight,
.launchDate,
.landingDate,
.status,
.location,
.size {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
  font-weight: 500;
  color: white;
  padding: 10px;
  overflow: hidden;
}

.description {
  border-bottom: 1px solid white;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.5s ease;
}

.loaderProgress {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 7px #fff;
  text-align: center;
  margin-top: 2rem;
}

.custom-loader {
  width: 60px;
  height: 25px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  display: grid;
  animation: h2 2s infinite linear;
}
.custom-loader:before,
.custom-loader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}
.custom-loader:after {
  --s: -1;
}

@keyframes h2 {
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
  }
}
